@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoMonoLight";
  src: url("/fonts/RobotoMono-Light.ttf");
}
@font-face {
  font-family: "RobotoMonoRegular";
  src: url("/fonts/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: "RobotoMonoSemiBold";
  src: url("/fonts/RobotoMono-SemiBold.ttf");
}
@font-face {
  font-family: "AntonRegular";
  src: url("/fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "LatoLight";
  src: url("/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("/fonts/Lato-Bold.ttf");
}
